@media (max-width: 1500px) {
  .content-width {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .search {
    flex-direction: column-reverse;
  }
  .alert-p-style {
    position: fixed;
    top: 50px;
    right: 12px;
  }
}

@media (max-width: 500px) {
  .overlay-card {
    height: 560px;
    width: 98%;
  }
  .back-to-top img {
    position: fixed;
    bottom: 12px;
    left: 12px;
    width: 32px;
    height: 32px;
  }
  .load-more-pokemons button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
  }
  .load-more-pokemons button img {
    width: 24px;
  }
}

@media (max-width: 450px) {
  .h1-second-page {
    margin-left: 0;
  }
  .responsive-btns {
    display: flex;
    flex-direction: column-reverse;
  }
  header {
    display: flex;
    align-items: center;
    height: 140px;
  }
  .logo {
    margin-top: 16px;
    margin-left: 0;
  }
  .header-section {
    flex-direction: column;
    gap: 24px;
  }
  .alert-p-style {
    position: relative;
    top: 0;
    left: 00;
  }
  .search {
    margin-right: 0;
  }
  .overlay-pokemon-picture {
    height: 200px;
  }
  .overlay-pokemon-picture-background {
    gap: 8px;
  }
}
