@font-face {
  font-family: "Atma-Regular";
  src: url("../assets/fonts/Atma-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #082029;
}

::-webkit-scrollbar-thumb {
  background: #a1c0ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e5780;
}

* {
  font-family: "Atma-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-wrap: wrap;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gab-16 {
  gap: 16px;
}

.d-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}
