header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 80px;
  width: 100%;
  background-color: #082029;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

main {
  width: 100%;
  background-color: #05171e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.back-to-top {
  position: fixed;
  bottom: 24px;
  left: 24px;
  cursor: pointer;
}

.back-to-top img {
  width: 64px;
}

.reset-search button img {
  width: 48px;
}

.reset-search {
  position: fixed;
  bottom: 100px;
  right: 24px;
}

.btn-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #2e5780;
  cursor: pointer;
  border: none;
}

.load-more-pokemons {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.load-more-pokemons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  cursor: pointer;
  background-color: #2e5780;
  border: none;
}

.load-more-pokemons button img {
  width: 48px;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #082029;
}

.creater {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.creater img {
  height: 40px;
}
